@import "tailwindcss";
/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;

  --color-yellow-250: #fde868;
  --color-cornflower-blue: oklch(60.563% 0.21892 292.72);
  --color-cornflower-blue-50: oklch(83.521% 0.08768 298.54);
  --color-cornflower-blue-100: oklch(78.597% 0.11572 297.87);
  --color-cornflower-blue-200: oklch(69.411% 0.1686 295.89);
  --color-cornflower-blue-300: oklch(60.563% 0.21892 292.72);
  --color-cornflower-blue-400: oklch(50.739% 0.2683 285.52);
  --color-cornflower-blue-500: oklch(43.609% 0.25536 281.18);
  --color-cornflower-blue-600: oklch(35.559% 0.20538 281.77);
  --color-cornflower-blue-700: oklch(27.138% 0.15188 283.57);
  --color-cornflower-blue-800: oklch(17.888% 0.09199 288.74);
  --color-cornflower-blue-900: oklch(3.0377% 0.02105 264.05);
  --color-cornflower-blue-950: oklch(0% 0 none);

  --star-color-1: var(--color-red-300);
  --star-color-2: var(--color-green-300);
  --star-color-3: var(--color-blue-300);
  --star-color-4: var(--color-yellow-300);
  --star-color-5: var(--color-pink-300);

  --main-background-color: var(--color-neutral-200);
  --main-text-color: var(--color-neutral-800);

  --spectators-bar-background-color: var(--color-neutral-400);
  --spectators-bar-text-color: var(--color-neutral-800);

  --panel-background-color-1: --alpha(var(--color-cornflower-blue-100) / 80%);
  --panel-background-color-2: --alpha(var(--color-cornflower-blue-50) / 90%);
  --panel-background-color-dark-1: --alpha(var(--color-neutral-600) / 80%);
  --panel-text-color-1: var(--color-gray-800);
  --panel-text-color-2: var(--color-gray-800);
  --panel-header-1-color-1: var(--color-gray-800);
  --panel-header-2-color-1: var(--color-gray-800);

  --panel-horizontal-divider-color-1: var(--color-gray-500);

  --panel-button-background-color-1: var(--color-gray-300);
  --panel-button-hover-background-color-1: var(--color-gray-400);
  --panel-button-text-color-1: var(--color-gray-800);
  --panel-button-border-color-1: var(--color-gray-400);

  --panel-input-background-color-1: var(--color-gray-50);
  --panel-input-text-color-1: var(--color-gray-900);
  --panel-input-border-color-1: var(--color-gray-300);
  --panel-input-focus-border-color-1: var(--color-blue-500);
  --panel-input-focus-box-shadow-color-1: var(--color-blue-500);

  --word-pack-selection-panel-item-background-color-1: --alpha(var(--color-gray-300) / 30%);
  --word-pack-selection-panel-item-selected-background-color-1: --alpha(var(--color-gray-100) / 70%);
  --word-pack-selection-panel-item-border-color-1: var(--color-gray-600);

  --team-color-red: --alpha(var(--color-red-500) / 60%);
  --team-color-green: --alpha(var(--color-green-500) / 60%);
  --team-color-blue: --alpha(var(--color-blue-500) / 60%);
  --team-color-yellow: --alpha(var(--color-yellow-300) / 60%);
  --team-color-blacklisted: rgba(0, 0, 0, 0.4);

  --team-selection-color-red: var(--color-red-600);
  --team-selection-color-green: var(--color-green-600);
  --team-selection-color-blue: var(--color-blue-600);
  --team-selection-color-yellow: var(--color-amber-500);

  --crown-color-red: --alpha(var(--color-red-500) / 90%);
  --crown-color-green: --alpha(var(--color-green-500) / 90%);
  --crown-color-blue: --alpha(var(--color-blue-500) / 90%);
  --crown-color-yellow: --alpha(var(--color-yellow-500) / 90%);

  --word-block-color-unknown: var(--color-orange-200);
  --word-block-color-border-unknown: var(--color-amber-600);
  --word-block-color-glow-unknown: var(--color-pink-300);
  --word-block-color-text-unknown: var(--color-neutral-700);

  --word-block-color-red: var(--color-red-400);
  --word-block-color-border-red: var(--color-red-700);
  --word-block-color-glow-red: var(--color-red-300);
  --word-block-color-text-red: var(--color-neutral-700);

  --word-block-color-green: var(--color-green-400);
  --word-block-color-border-green: var(--color-green-600);
  --word-block-color-glow-green: var(--color-green-300);
  --word-block-color-text-green: var(--color-neutral-700);

  --word-block-color-blue: var(--color-blue-400);
  --word-block-color-border-blue: var(--color-blue-700);
  --word-block-color-glow-blue: var(--color-blue-400);
  --word-block-color-text-blue: var(--color-neutral-700);

  --word-block-color-yellow: var(--color-yellow-200);
  --word-block-color-border-yellow: var(--color-yellow-500);
  --word-block-color-glow-yellow: var(--color-yellow-200);
  --word-block-color-text-yellow: var(--color-neutral-700);

  --word-block-color-white: var(--color-slate-200);
  --word-block-color-border-white: var(--color-gray-400);
  --word-block-color-glow-white: var(--color-pink-300);
  --word-block-color-text-white: var(--color-neutral-700);

  --word-block-color-black: var(--color-neutral-600);
  --word-block-color-border-black: var(--color-neutral-950);
  --word-block-color-glow-black: var(--color-pink-300);
  --word-block-color-text-black: var(--color-neutral-300);
}

html.light-theme {
  --main-background-color: var(--color-neutral-200);
  --main-text-color: var(--color-neutral-800);

  --error-color: var(--color-red-700);

  --home-view-background-color: var(--color-slate-300);

  --star-color-1: var(--color-red-500);
  --star-color-2: var(--color-green-500);
  --star-color-3: var(--color-blue-500);
  --star-color-4: var(--color-yellow-500);
  --star-color-5: var(--color-pink-500);

  --preview-glass-panel-color: --alpha(var(--color-cornflower-blue-300) / 40%);
  --switcher-button-active-color: var(--color-neutral-300);
  --switcher-button-non-active-color: var(--color-neutral-500);
  --preview-link-color: var(--color-cyan-200);
  --preview-italic-color: var(--color-teal-400);
  --preview-highlight-color: var(--color-rose-500);
  --preview-text-color-1: var(--color-neutral-800);
  --preview-element-block-background-color: --alpha(var(--color-zinc-300) / 60%);

  --notification-color: var(--color-amber-600);

  --spectators-bar-background-color: var(--color-slate-300);
  --spectators-bar-text-color: var(--color-neutral-800);

  --panel-background-color-1: --alpha(var(--color-cornflower-blue-100) / 80%);
  --panel-background-color-2: --alpha(var(--color-cornflower-blue-50) / 90%);
  --panel-background-color-dark-1: --alpha(var(--color-slate-400) / 80%);
  --panel-background-color-dark-2: --alpha(var(--color-neutral-600) / 80%);
  --panel-text-color-1: var(--color-gray-800);
  --panel-text-color-2: var(--color-gray-800);
  --panel-text-color-3: var(--color-neutral-300);
  --panel-header-1-color-1: var(--color-gray-800);
  --panel-header-2-color-1: var(--color-gray-800);

  --panel-horizontal-divider-color-1: var(--color-gray-500);

  --panel-button-background-color-1: var(--color-gray-300);
  --panel-button-hover-background-color-1: var(--color-gray-400);
  --panel-button-text-color-1: var(--color-gray-800);
  --panel-button-border-color-1: var(--color-gray-400);

  --panel-input-background-color-1: var(--color-gray-50);
  --panel-input-text-color-1: var(--color-gray-900);
  --panel-input-border-color-1: var(--color-gray-300);
  --panel-input-focus-border-color-1: var(--color-blue-500);
  --panel-input-focus-box-shadow-color-1: var(--color-blue-500);

  --word-pack-selection-panel-item-background-color-1: --alpha(var(--color-gray-300) / 30%);
  --word-pack-selection-panel-item-selected-background-color-1: --alpha(var(--color-gray-100) / 70%);
  --word-pack-selection-panel-item-border-color-1: var(--color-gray-600);

  --team-color-red: --alpha(var(--color-red-500) / 60%);
  --team-color-green: --alpha(var(--color-green-500) / 60%);
  --team-color-blue: --alpha(var(--color-blue-500) / 60%);
  --team-color-yellow: --alpha(var(--color-yellow-300) / 60%);
  --team-color-blacklisted: rgba(0, 0, 0, 0.4);
  --team-text-color-warning: var(--color-red-700);

  --team-selection-color-red: var(--color-red-600);
  --team-selection-color-green: var(--color-green-600);
  --team-selection-color-blue: var(--color-blue-600);
  --team-selection-color-yellow: var(--color-amber-500);

  --team-toggle-display-button-color: var(--color-neutral-300);

  --crown-color-red: --alpha(var(--color-red-500) / 90%);
  --crown-color-green: --alpha(var(--color-green-500) / 90%);
  --crown-color-blue: --alpha(var(--color-blue-500) / 90%);
  --crown-color-yellow: --alpha(var(--color-yellow-500) / 90%);

  --word-block-color-unknown: var(--color-orange-200);
  --word-block-color-border-unknown: var(--color-amber-600);
  --word-block-color-glow-unknown: var(--color-pink-300);
  --word-block-color-text-unknown: var(--color-neutral-700);

  --word-block-color-red: var(--color-red-400);
  --word-block-color-border-red: var(--color-red-700);
  --word-block-color-glow-red: var(--color-red-300);
  --word-block-color-text-red: var(--color-neutral-700);

  --word-block-color-green: var(--color-green-400);
  --word-block-color-border-green: var(--color-green-600);
  --word-block-color-glow-green: var(--color-green-300);
  --word-block-color-text-green: var(--color-neutral-700);

  --word-block-color-blue: var(--color-blue-400);
  --word-block-color-border-blue: var(--color-blue-700);
  --word-block-color-glow-blue: var(--color-blue-400);
  --word-block-color-text-blue: var(--color-neutral-700);

  --word-block-color-yellow: var(--color-yellow-200);
  --word-block-color-border-yellow: var(--color-yellow-500);
  --word-block-color-glow-yellow: var(--color-yellow-200);
  --word-block-color-text-yellow: var(--color-neutral-700);

  --word-block-color-white: var(--color-slate-200);
  --word-block-color-border-white: var(--color-gray-400);
  --word-block-color-glow-white: var(--color-pink-300);
  --word-block-color-text-white: var(--color-neutral-700);

  --word-block-color-black: var(--color-neutral-600);
  --word-block-color-border-black: var(--color-neutral-950);
  --word-block-color-glow-black: var(--color-pink-300);
  --word-block-color-text-black: var(--color-neutral-300);
}

html.dark-theme {
  --main-background-color: var(--color-neutral-800);
  --main-text-color: var(--color-neutral-300);

  --error-color: var(--color-red-700);

  --home-view-background-color: var(--color-neutral-800);

  --star-color-1: var(--color-red-300);
  --star-color-2: var(--color-green-300);
  --star-color-3: var(--color-blue-300);
  --star-color-4: var(--color-yellow-300);
  --star-color-5: var(--color-pink-300);

  --preview-glass-panel-color: --alpha(var(--color-cornflower-blue-100) / 60%);
  --switcher-button-active-color: var(--color-neutral-500);
  --switcher-button-non-active-color: var(--color-neutral-700);
  --preview-link-color: var(--color-sky-300);
  --preview-italic-color: var(--color-lime-300);
  --preview-highlight-color: var(--color-pink-300);
  --preview-text-color-1: var(--color-neutral-300);
  --preview-element-block-background-color: var(--color-zinc-500);

  --notification-color: var(--color-yellow-300);

  --spectators-bar-background-color: var(--color-neutral-600);
  --spectators-bar-text-color: var(--color-neutral-200);

  --panel-background-color-1: --alpha(var(--color-cornflower-blue-100) / 80%);
  --panel-background-color-2: --alpha(var(--color-cornflower-blue-50) / 90%);
  --panel-background-color-dark-1: --alpha(var(--color-neutral-600) / 80%);
  --panel-background-color-dark-2: --alpha(var(--color-neutral-600) / 80%);
  --panel-text-color-1: var(--color-gray-800);
  --panel-text-color-2: var(--color-gray-400);
  --panel-text-color-3: var(--color-neutral-300);
  --panel-header-1-color-1: var(--color-gray-800);
  --panel-header-2-color-1: var(--color-gray-800);

  --panel-horizontal-divider-color-1: var(--color-gray-500);

  --panel-button-background-color-1: var(--color-gray-300);
  --panel-button-hover-background-color-1: var(--color-gray-400);
  --panel-button-text-color-1: var(--color-gray-800);
  --panel-button-border-color-1: var(--color-gray-400);

  --panel-input-background-color-1: var(--color-gray-50);
  --panel-input-text-color-1: var(--color-gray-900);
  --panel-input-border-color-1: var(--color-gray-300);
  --panel-input-focus-border-color-1: var(--color-blue-500);
  --panel-input-focus-box-shadow-color-1: var(--color-blue-500);

  --word-pack-selection-panel-item-background-color-1: --alpha(var(--color-gray-300) / 30%);
  --word-pack-selection-panel-item-selected-background-color-1: --alpha(var(--color-gray-100) / 70%);
  --word-pack-selection-panel-item-border-color-1: var(--color-gray-600);

  --team-color-red: --alpha(var(--color-red-600) / 30%);
  --team-color-green: --alpha(var(--color-green-600) / 30%);
  --team-color-blue: --alpha(var(--color-blue-600) / 30%);
  --team-color-yellow: --alpha(var(--color-yellow-400) / 30%);
  --team-color-blacklisted: rgba(0, 0, 0, 0.4);
  --team-text-color-warning: var(--color-orange-300);

  --team-selection-color-red: var(--color-red-500);
  --team-selection-color-green: var(--color-green-700);
  --team-selection-color-blue: var(--color-blue-700);
  --team-selection-color-yellow: var(--color-yellow-500);

  --team-toggle-display-button-color: var(--color-neutral-500);

  --crown-color-red: --alpha(var(--color-red-500) / 90%);
  --crown-color-green: --alpha(var(--color-green-600) / 90%);
  --crown-color-blue: --alpha(var(--color-blue-600) / 90%);
  --crown-color-yellow: --alpha(var(--color-yellow-400) / 90%);

  --word-block-color-unknown: --alpha(var(--color-orange-300) / 80%);
  --word-block-color-border-unknown: var(--color-amber-800);
  --word-block-color-glow-unknown: var(--color-pink-300);
  --word-block-color-text-unknown: var(--color-neutral-700);

  --word-block-color-red: --alpha(var(--color-red-500) / 70%);
  --word-block-color-border-red: var(--color-red-900);
  --word-block-color-glow-red: var(--color-red-600);
  --word-block-color-text-red: var(--color-neutral-200);

  --word-block-color-green: --alpha(var(--color-green-400) / 70%);
  --word-block-color-border-green: var(--color-green-800);
  --word-block-color-glow-green: var(--color-green-600);
  --word-block-color-text-green: var(--color-neutral-800);

  --word-block-color-blue: --alpha(var(--color-blue-400) / 80%);
  --word-block-color-border-blue: var(--color-blue-700);
  --word-block-color-glow-blue: var(--color-blue-500);
  --word-block-color-text-blue: var(--color-neutral-900);

  --word-block-color-yellow: --alpha(var(--color-yellow-250) / 90%);
  --word-block-color-border-yellow: var(--color-yellow-500);
  --word-block-color-glow-yellow: var(--color-yellow-300);
  --word-block-color-text-yellow: var(--color-neutral-700);

  --word-block-color-white: var(--color-slate-300);
  --word-block-color-border-white: var(--color-gray-500);
  --word-block-color-glow-white: var(--color-pink-300);
  --word-block-color-text-white: var(--color-neutral-700);

  --word-block-color-black: var(--color-neutral-600);
  --word-block-color-border-black: var(--color-neutral-950);
  --word-block-color-glow-black: var(--color-pink-300);
  --word-block-color-text-black: var(--color-neutral-300);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
